@charset "utf-8";

.wrapper{
  padding: 32px 0;
  background-color: #f2f6f7;
  width: 100%;
}

.inner{
  margin: 0 auto;
  width: 640px;
}

.main{
  padding: 48px 64px;
  margin-bottom: 32px;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, .18);
}

.width{
  margin-bottom: 20px;
}

.text-area{
  box-sizing: border-box;
  height: 36px;
  width: 100%;
  padding: 5px;
  color: #545658;
  font-size: 13px;
  line-height: 2;
  background-color: #fbfbfb; 
  border: 1px solid #d9d9d9; 
  border-radius: 3px; 
}

.long-text-area{
  height: 100px;
}

.name{
  margin-bottom: 5px;
  font-size: 12px;
  color: #545658;
 }


/* アカウント作成 水平線*/
.form-title{
  font-size: 24px;
  color: #545658;
  margin-bottom: 24px;
  text-align: center;
  position: relative;
}

/* sns-botton */
.sns-buttons{
  margin-bottom: 8px;
  display: flex;
}

.facebook-button{
  color: #fff; 
  text-align: center;
  padding: 13px;
  font-size: 13px;
  border-radius: 3px;
  width: 50%; 
  background-color:#3b5999 ;
  transition-duration: 0.6s;
}

.facebook-button:hover{
  background-color: #344e87;
  border-color: transparent;
}

.Google-button{
  color: #dd4b39;
  text-align: center;
  padding: 13px;
  border: 1px solid #d9d9d9; 
  font-size: 13px;
  border-radius: 3px;
  width: 50%; 
  margin-left: 8px;
  transition-duration: 0.6s;
}

.Google-button:hover{
  background-color: #f7f7f7;
}

.sub-title{
  color: #949697;
  font-size: 12px;
  text-align: center;
}

/* 水平線 */
.account{
  overflow: hidden;
  text-align: center;
}

.account span{
  display: inline-block;
  padding: 0 0.5em;
  position: relative;
}

.account span::before,.account span::after{
  border-top: 1px solid #ececec;
  content: "";
  position: absolute;
  top: 50%;
  width: 99em;
}

.account span::before{
  right: 100%;
}

.account span::after{
  left: 100%;
}

.account-box{
  margin: 20px 0;
  color: #949697;
  font-size: 12px;
}

/* form */
.name-filed{
  display: flex;
  width: 100%;
}

 .first-name-box{
  width: 50%;
} 

.last-name-box {
  width: 50%;
}

.red{
  color: #dd4b39;
}

.last-name-box{
  margin-left: 16px;
}

/* radio */
.sex-box{
  display: flex;
  color: #545658;
  font-size: 16px;
}

.sex-text{
  margin-right: 10px;
}

.radio-box{
  display: none;
}

.sex-text span::before{
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;  
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.sex-text span{
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.radio-box:checked + span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

/* チェックボックスの変更 */
.check{
  margin-bottom: 10px;
  color: #545658;
  font-size: 16px;
}

.checkbox{
  display: none;
}

.label-checkbox::before{
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.label-checkbox{
  position: relative;
  padding-left: 25px;
}

.check input:checked +
.label-checkbox::after{
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

/* from */
.origin-area{
  width: 50%;
}

/* 矢印消す */
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand{
  display: none;
}

/* 矢印作成 */
.select-box::after{
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

select::-ms-expand {
	display: none;
}

.origin-area{
  width: 100%;
}

.select-box{
  position: relative;
  width: 50%;
}

/* textarea */
.textarea{
  width: 100%;
}

/* アカウント作成ボタン */
.submit-button{
  width: 100%;
  background-color: #01bfbd;
  color: #fff;
  padding: 15px 0;
  border-radius: 3px; 
  cursor: pointer;
  transition-duration: 0.6s;
}

.submit-button:hover{
  background-color: #01a6a4;
}

.submit-button:active {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #01a6a4;
}

/* last-text */
.strong{
  color: #01a6a4;
  transition-duration: 0.6s;
}

.strong:hover{
  color: #01bfbd;
}

.account-bottom{
  margin-top: 20px;
}

/* out-form */
.out-form{
  text-align: center;
}

.account-have-box{
  display: inline-block;
  color: #000000;
}

.login:hover {
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.login{
  display: inline-block;
  color: #01a6a4;
  transition-duration: 0.6s;
}

.login-box{
  margin-bottom: 5px;
  line-height: 16px;
  font-size: 12px;
}

.long-text-area{
  resize: none;
}

.email-check{
  margin-bottom: 8px;
  line-height: 16px;
  font-size: 12px;
  color: #01a6a4;
  transition-duration: 0.6s;
}

.email-check:hover{
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

/* 周りのborder色変更 */
input:focus{
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  outline: 0;
}

textarea:focus{
  background-color: #fff;
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  outline: 0;
}

/* input[type="email"]:focus{
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  background-color: #fff;
}

input[type="number"]:focus{
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  background-color: #fff;
}

input[type="password"]:focus{
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  background-color: #fff;
}

input[type="textarea"]:focus{
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  background-color: #fff;
}

select[type="text"]:focus{
  border-color: rgba(59, 133, 133, .4);
  box-shadow: 0 0 0 2px rgba(1, 191, 189, .1);
  background-color: #fff;
} */